.header-cont{
    background-color: white;
    height: 6vh;
    width: 81vw;
    display: flex;
    justify-content: space-between;
    color: #44486D;
    padding-left: 1%;
}
.yellow-btn{
    background-color: #FCCC55;
    padding: 10px;
    border-color: #FCCC55;
    border-radius: 10px;
    color: #44486D;

}
.pink-btn{
    background-color: #E553BC;
    padding: 10px;
    border-color: #E553BC;
    border-radius: 10px;
    color: #44486D;
    

}
.header-last{
    width: 27vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1%;

}